<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
      <include-coda>/WEB-INF/footer.jsp</include-coda>
    </jsp-property-group>
  </jsp-config>
  
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  
  <display-name>Bibliotheque</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>servlet.Accueil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoirPlus</servlet-name>
    <servlet-class>servlet.VoirPlus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>servlet.Recherche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoAuteur</servlet-name>
    <servlet-class>servlet.InfoAuteur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.Inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeEmprunt</servlet-name>
    <servlet-class>servlet.ListeEmprunt</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoirPlus</servlet-name>
    <url-pattern>/voir-plus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/rechercher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoAuteur</servlet-name>
    <url-pattern>/info-auteur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeEmprunt</servlet-name>
    <url-pattern>/liste-emprunt</url-pattern>
  </servlet-mapping>
</web-app>